[Desktop Entry]
Version=1.0
Name=Bontecoin Core
Comment=Bontecoin P2P Cryptocurrency
Exec=bontecoin-qt %u
Terminal=false
Type=Application
Icon=bontecoin128
MimeType=x-scheme-handler/bontecoin;
Categories=Office;Finance;
StartupWMClass=Bontecoin-qt
Name[en_US]=bontecoin-qt.desktop
