
## <summary>policy for bontecoin</summary>


########################################
## <summary>
##	Transition to bontecoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bontecoin_domtrans',`
	gen_require(`
		type bontecoin_t, bontecoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bontecoin_exec_t, bontecoin_t)
')


########################################
## <summary>
##	Execute bontecoin server in the bontecoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bontecoin_initrc_domtrans',`
	gen_require(`
		type bontecoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bontecoin_initrc_exec_t)
')


########################################
## <summary>
##	Search bontecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bontecoin_search_lib',`
	gen_require(`
		type bontecoin_var_lib_t;
	')

	allow $1 bontecoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bontecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bontecoin_read_lib_files',`
	gen_require(`
		type bontecoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bontecoin_var_lib_t, bontecoin_var_lib_t)
')

########################################
## <summary>
##	Manage bontecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bontecoin_manage_lib_files',`
	gen_require(`
		type bontecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bontecoin_var_lib_t, bontecoin_var_lib_t)
')

########################################
## <summary>
##	Manage bontecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bontecoin_manage_lib_dirs',`
	gen_require(`
		type bontecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bontecoin_var_lib_t, bontecoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bontecoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bontecoin_admin',`
	gen_require(`
		type bontecoin_t;
		type bontecoin_initrc_exec_t;
		type bontecoin_var_lib_t;
	')

	allow $1 bontecoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, bontecoin_t)

	bontecoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bontecoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bontecoin_var_lib_t)

')

