policy_module(bontecoin, 1.100.1)

########################################
#
# Declarations
#

type bontecoin_t;
type bontecoin_exec_t;
init_daemon_domain(bontecoin_t, bontecoin_exec_t)

permissive bontecoin_t;

type bontecoin_initrc_exec_t;
init_script_file(bontecoin_initrc_exec_t)

type bontecoin_conf_t;
files_type(bontecoin_conf_t)

type bontecoin_var_lib_t;
files_type(bontecoin_var_lib_t)

type bontecoin_var_run_t;
files_type(bontecoin_var_run_t)

type bontecoin_port_t;
corenet_port(bontecoin_port_t)

########################################
#
# bontecoin local policy
#
allow bontecoin_t self:process { fork };

allow bontecoin_t self:fifo_file rw_fifo_file_perms;
allow bontecoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(bontecoin_t, bontecoin_conf_t, bontecoin_conf_t)
manage_files_pattern(bontecoin_t, bontecoin_conf_t, bontecoin_conf_t)

manage_dirs_pattern(bontecoin_t, bontecoin_var_lib_t, bontecoin_var_lib_t)
manage_files_pattern(bontecoin_t, bontecoin_var_lib_t, bontecoin_var_lib_t)
files_var_lib_filetrans(bontecoin_t, bontecoin_var_lib_t, { dir file })

manage_dirs_pattern(bontecoin_t, bontecoin_var_run_t, bontecoin_var_run_t)
manage_files_pattern(bontecoin_t, bontecoin_var_run_t, bontecoin_var_run_t)

sysnet_dns_name_resolve(bontecoin_t)
corenet_all_recvfrom_unlabeled(bontecoin_t)

allow bontecoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(bontecoin_t)
corenet_tcp_sendrecv_generic_node(bontecoin_t)
corenet_tcp_sendrecv_all_ports(bontecoin_t)
corenet_tcp_bind_generic_node(bontecoin_t)

gen_require(`
    type bontecoin_port_t;
')
allow bontecoin_t bontecoin_port_t:tcp_socket name_bind;

gen_require(`
    type bontecoin_port_t;
')
allow bontecoin_t bontecoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(bontecoin_t)

files_read_etc_files(bontecoin_t)

miscfiles_read_localization(bontecoin_t)

sysnet_dns_name_resolve(bontecoin_t)

allow bontecoin_t bontecoin_exec_t:file execute_no_trans;
allow bontecoin_t self:process setsched;
corecmd_exec_ls(bontecoin_t)
corenet_tcp_connect_http_port(bontecoin_t)
dev_read_urand(bontecoin_t)
fs_getattr_xattr_fs(bontecoin_t)
kernel_read_system_state(bontecoin_t)
