# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Bontecoin Core
Comment=Bontecoin Core QT main network
GenericName=Bontecoin Digital Currency QT client main network
Exec=bontecoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/bontecoin.png
MimeType=x-scheme-handler/bontecoin;
Categories=X-Office;X-Finance;
Keywords=internet;bontecoin;zpiv;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=bontecoin-qt.desktop
